/*generate resume style */


#header {	
	background-color: #0c7512 !important;
	background: url(#) no-repeat center top;
	margin-top: -70px;
	padding-top: 150px;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header_body
{
	background-color: white !important;
	padding: 2px;
	padding-top: 5px;
}

#header_body a
{
	color: #0e5d1c !important;
	
	font-weight: 500;

}

h1, h2, h3, h4, h5, h6
{
	color: white !important;
}

#header_body a:hover, .dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus 
{
	background-color: rgba(12,117, 18, 0.9) !important;
	color: white !important;

}